<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>FRONTIN - Eventos e Conteúdo de Tecnologia</title>

    <meta http-equiv="refresh" content="0;URL='https://conteudo.frontinsampa.com.br/senior'" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <meta name="description" content="Somos uma comunidade e um evento sobre tecnologia front end (criação de interfaces), que alcança atualmente cerca de 100 mil pessoas por mês nas redes sociais. O crescimento neste alcance fez surgir a FRONTIN, uma organização especializada em gerir, comunidades, conteúdo, criadoras e a produção de eventos tech." />
    <meta name="keywords" content="desenvolvedora frontend, desenvolvedor front-end, desenvolvedora frontend, desenvolvedor front-end, front-end em são paulo, eventos de front-end em são paulo, frontinsampa, frontinsampa 2022, eventos de desenvolvimento, desenvolvimento, front-end, html, css, javascript, js, frontin, frontin senior, frontinsenior, eventos tech, comunidade tech, criadoras de conteúdo tech, influenciadores tech" />

    <meta property="og:locale" content="pt_BR" />
    <meta property="og:url" content="http://www.frontinsampa.com.br" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="FRONTIN - Eventos e Conteúdo de Tecnologia" />
    <meta property="og:site_name" content="FRONTIN SAMPA">
    <meta property="og:description" content="Somos uma comunidade e um evento sobre tecnologia front end (criação de interfaces), que alcança atualmente cerca de 100 mil pessoas por mês nas redes sociais. O crescimento neste alcance fez surgir a FRONTIN, uma organização especializada em gerir, comunidades, conteúdo, criadoras e a produção de eventos tech." />
    <meta property="og:image" content="https://d335luupugsy2.cloudfront.net/cms/files/389601/1642270638/$nxm30jc866" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="FRONTIN - Eventos e Conteúdo de Tecnologia" />
    <meta name="twitter:description" content="Somos uma comunidade e um evento sobre tecnologia front end (criação de interfaces), que alcança atualmente cerca de 100 mil pessoas por mês nas redes sociais. O crescimento neste alcance fez surgir a FRONTIN, uma organização especializada em gerir, comunidades, conteúdo, criadoras e a produção de eventos tech." />
    <meta name="twitter:site" content="@frontinsp" />
    <meta name="twitter:image" content="https://d335luupugsy2.cloudfront.net/cms/files/389601/1642270638/$nxm30jc866" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= GOOGLE_UA %>"></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= GOOGLE_UA %>');
    </script>

    <link href="favicon.ico" rel="shortcut icon" />
  </head>

  <body>
    <div id="root">
      Carregando...
    </div>
    <script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/4bb9c6df-62b2-4fc2-a22f-c2b69053abb5-loader.js" ></script>
  </body>
