<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Front In Sampa 2020</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <meta name="description" content="Front In Sampa 2020 - 9ª edição do maior e mais tradicional evento de desenvolvimento front-end do Brasil. 18 de julho | Teatro Gazeta, Av. Paulista - SP" />
    <meta name="keywords" content="desenvolvedor frontend, desenvolvedor front-end, front-end em são paulo, eventos de front-end em são paulo, frontinsampa, frontinsampa 2020, eventos de desenvolvimento, desenvolvimento, front-end, html, css, javascript, js" />

    <meta property="og:locale" content="pt_BR" />
    <meta property="og:url" content="http://www.frontinsampa.com.br" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Front In Sampa 2020" />
    <meta property="og:site_name" content="Front In Sampa">
    <meta property="og:description" content="Front In Sampa 2020 - 9ª edição do maior e mais tradicional evento de desenvolvimento front-end do Brasil. 18 de julho | Teatro Gazeta, Av. Paulista - SP" />
    <meta property="og:image" content="http://www.frontinsampa.com.br/assets/images/banner.png" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Front In Sampa 2020" />
    <meta name="twitter:description" content="Front In Sampa 2020 - 9ª edição do maior e mais tradicional evento de desenvolvimento front-end do Brasil. 18 de julho | Teatro Gazeta, Av. Paulista - SP" />
    <meta name="twitter:site" content="@frontinsp" />
    <meta name="twitter:image" content="http://www.frontinsampa.com.br/assets/images/banner.png" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= GOOGLE_UA %>"></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= GOOGLE_UA %>');
    </script>

    <link href="favicon.ico" rel="shortcut icon" />
  </head>

  <body>
    <div id="root">
      Carregando...
    </div>
  </body>
